.card-trip-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-show > img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.card-trip-show h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-trip-show h3 {
  font-size: 16px;
  margin: 5px 0px;
}

.card-trip-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-show .card-trip-infos-show {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-show .card-trip-user-show {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.form-show {
  background-color: rgba(138, 138, 138, 0.534);
  width: 450px;

}
