<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/775219/pexels-photo-775219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1>Hotel'Low te permet de réserver des chambres d'hôtel à <strong>prix réduit</strong> </h1>
    <p>Economises de l'argent tout en réservant dans des hôtels flambants. </p>
    <%= link_to "C'EST PARTI !", rooms_path, class:"btn-flat" %>
  </div>
</div>
